* {
    font-family: 'Nanum Gothic', sans-serif;
}

div {
    width: 600px;
    margin: 0 auto;
    background-color: #edc9af;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: yellow;
    text-shadow: 3px 3px 3px black;
    font-size: 60px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}